@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- PERBAIKAN TAMPILAN --- */
/* Kita harus menimpa style bawaan browser agar aplikasi mengisi layar penuh */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* Warna background slate-50 sesuai desain aplikasi */
}

/* Pastikan body tidak menggunakan flex center bawaan Vite */
body {
  display: block; 
}
